* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: palevioletred;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: right;
}

header > div {
  background-color: pink;
  flex-basis: 140px;
  margin: 0 10px;
  height: 70px;
}

header > div:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: lightgreen;
}

.contents {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents > div {
  background-color: yellow;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  background-color: blue;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div {
  background-color: lightskyblue;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
}